body, {
	font: normal 16px Verdana;
	margin: 0;
}

.GameHeader {
	color: #FFFFFF;
	background-color: #3F51B5;
}

.GameNewsList {
	background-color: #9FA8DA;
}

.Authorization {
    width:  600px;
    /* Hide text if needed. */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.User {
	background-image: url(/user_img.jpg);  /* shows user profile image */
    height: 128px; 
    width: 128 px;                       /* be sure to set height & width */
	font: normal 12px Verdana;
}