body {
    background-color: #1A237E;
}

img {
    padding: 15px 15px 15px 15px;
    vertical-align: middle;
    width: auto;
    height: auto;
    display: block;
    margin: auto;
}

.container-fluid {
    max-block-size: 600px;
    background-color: #3F51B5;
    color: #E8EAF6;
}

.navbar-brand {
    color: #E8EAF6;
}

a.navbar-brand{
    color: #E8EAF6;
}

.loading {
    padding: 15px 15px 15px 15px;
    margin: 15px 15px;
    background-color: #E8EAF6;
}

.newsItem {
    padding: 15px 15px 15px 15px;
    margin: 15px 15px;
    background-color: #E8EAF6;
}

.navbar-default,
.navbar-brand {
    background-color: #3F51B5;
}

.navbar>.container-fluid .navbar-brand {
    margin-left: -15px;
    color: a.btn.btn-secondary.btn-lg.activ;
}

.navbar-collapse.collapse {
    background-color: #3F51B5;
}

.a.btn.btn-secondary.btn-lg.active {
    background-color: transparent;
    color: #E8EAF6;
    border-color: #E8EAF6;
    align: right;
    position: absolute;
    right: 0px;
    width: 100px;
    padding: 10px;
}