body {
   background-color: #E8EAF6; 
}

img {
    padding: 15px 15px;
}

.container-fluid {
    background-color: #3F51B5;
    color: #E8EAF6;
}

.container-fluid {
}

.navbar-brand {
    color: #E8EAF6;
}

.loading {
    padding: 15px 15px 15px 15px;
    background-color: #E8EAF6;
}

.navbar-default, .navbar-brand {
    background-color: #3F51B5;
}

.navbar>.container-fluid .navbar-brand {
    margin-left: -15px;
    color: #E8EAF6;
}

.navbar-collapse.collapse{
    background-color: #3F51B5;
}